h1{
    text-align:center;
    padding:45px;
    margin-top:-10px;
    margin-left:-10px;
    margin-right:-10px;
    color:black;
    background-color:rgb(232, 133, 4);
}
li{
    font-size:25px;
    font-weight:bolder;
}
p{
    font-size:25px;
}
a{
    font-size:24px;
    font-weight:bolder;
    color:green;
}
body{
    background-color:bisque;
}