h1{
    font-size:50px;
    text-align:center;
    color:green;
}
body{
    background-color:bisque;
}
.icon{
    color:black;
    font-size:30px;
    margin:9px;
}
p{
    font-size:30px;
    color:black;
    padding:5px;
   
   
}
.icon1{
    color:green;
    font-size:30px;
    margin:9px;

}
.icon2{
    color:red;
    font-size:30px;
    margin:9px;

}
.icon3{
    color:blue;
    font-size:30px;
    margin:9px;

}
.icon4{
    color:red;
    font-size:30px;
    margin:9px;

}
a{
    font-size:24px;
    font-weight:bolder;
  
}